* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;

}

html {
}

h1 {
    font-family: 'Arial';
    font-size: 40px;
    padding-bottom: 20px;
}

h2 {
    font-size: 40px;
    color: black;
}

a{
    text-decoration: none;
}

td:first-child, th:first-child{
    text-align: right;
}

.nummer{
    width: 100px;
}

img{
    width: 100%;
    height: auto;
}

.login_nav {
    display: flex;
    list-style: none;
    background-color: #374048;
    padding: 4px;
    justify-content: center;
}
.center_nav {
    display: flex;
    width: 990px;
    justify-content: flex-end;
}
.center_nav li {
    padding-right: 20px;
    list-style: none;
}
.center_nav a {
    text-decoration: none;
}
.center_nav p {
    color: #e2e6e9;
    font-family: 'Arial';
    font-size: 14px;
}
.center_nav p:hover {
    color: #d4d9de;
}
.center_nav ul li ul li {
    display: none;
}
.center_nav ul li:hover ul li {
    display: flex;
}

.uitloggen-form {
    margin-right: 20px;
    text-align: right;
}

.uitloggen-form:hover .button_hide {
    display: block;
}

.button_hide {
    display: none;
}
#button_p {
    font-size: 14px;
    font-family: 'Arial';
    color: #e2e6e9;
    background-color: #374048;
    border: none;
    cursor: pointer;
    float: right;
    text-align: right;
}
#button_p:hover {
    color: #d4d9de;
}

nav {
    background: #708090;
}
.shadow {
    -moz-box-shadow:    inset 0 0 2px #374048;
    -webkit-box-shadow: inset 0 0 2px #374048;
    box-shadow:         inset 0 0 2px #374048;
}
nav ul {
    list-style: none;
    display: block;
    justify-content: center;
    margin: auto;
}
nav li {
    flex: 1;
}
nav a {
    font-family: 'Arial';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #e2e6e9;
    display: block;
    padding: 15px 40px;
    display: flex;
}
nav i {
    flex: 1;
    padding-right: 5px;
}
nav p {
    padding-top: 6px;
    flex: 1;
    text-align: left;
}
nav ul a:hover {
    color: #d4d9de;
    background-color: #7d8c9b;
}
.current_page {
    background-color: #635323;
}
.current_page:hover {
    background-color: #77642b;
}

nav ul li ul {
    display: none;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    width: 215.03px;
    position: absolute;
    background-color: #708090;
    z-index: 1;
}


.container {

}
.grid_home a {
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 14px;
    display: flex;
    flex-direction: row;
}
.h2 a, .h4 a {
    text-decoration: none;
    color: black;
    font-family: 'Arial';
    font-size: 14px;
    display: flex;
    flex-direction: row-reverse;
}

.h1 {
    grid-area: h1;
    opacity: 0.7;
}
.h1:hover {
    background-color: #e5e3de;
    opacity: 1;
}
.h2 {
    grid-area: h2;
    opacity: 0.7;
    background: linear-gradient(to right, lightsteelblue 40%, white 40% );
}
.h2 div{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 450px;
}
.h2 div{
    margin-top: 50px;
}

.h2 div p:last-child{
    text-align: right;
}

.h2:hover {
    background: linear-gradient(to right, lightsteelblue 40%, #e5e3de 40% );
    opacity: 1;
}



.h3 {
    grid-area: h3;
    opacity: 0.7;
}
.h3:hover {
    background-color: #e5e3de;
    opacity: 1;
}
.h4 {
    grid-area: h4;
    opacity: 0.7;
}
.h4:hover {
    background-color: #e5e3de;
    opacity: 1;
}

.bedrijf_text {
    flex: 1;
    padding: 50px;
    min-height: 409px;
}
.bedrijf_img {
    flex: 1;
    background: url(img/image001.jpg) center;
}
.product_text {
    flex: 1;
    padding: 50px;
    min-height: 409px;
}
.product_img {
    flex: 1;
}
.product_img img{
    height:100%;
    object-fit: cover;
}


.n0{
    grid-area: n0;
}

.n1{
    grid-area: n1;
}

.n2{
    grid-area: n2;
}

.n3{
    grid-area: n3;
}
.nb0{
    grid-area: nb0;
    padding: 50px;
}
.nb0 label{
    width: 40%;
    display: inline-block;
    text-align: right;
}
.nb0 input{
    margin-right: auto;
}
.archief div{
    padding: 50px;
    padding-bottom: 0px;
}
.archief div p:last-of-type{
    text-align: right;
    color: lightsteelblue;
}

p {
    text-decoration: none;
    list-style: none;
}


.grid_portfolio {

}
.p1, .p2, .p3{
    margin: 0px;
    padding: 50px;
    font-family: 'Arial';
    font-size: 12px;
}
.p1:hover, .p2:hover, .p3:hover{
    background-color: lightslategrey;
}

.p1 {
    grid-area: p1;
    background-color: lightsteelblue;
}
.p2 {
    grid-area: p2;
    background-color: rgb(156, 196, 222);
}
.p3 {
    grid-area: p3;
    background-color: lightsteelblue;
}

.grid_footer {
    display: flex;
    justify-content: center;
    background: #708090;
    height: 250px;
}

.f1 {
    color: #FFF;
    width: 900px;
    padding: 50px;
    font-family: 'Arial';
    font-size: 12px;
    text-align: center;
}

.grid_inloggen {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-template-areas:
        ". i1 ."
        ". i2 ."
}

.inloggen-form {
    grid-area: i1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 50px 200px;
}

.iregistreren-form {
    grid-area: i2;
    display: flex;
    flex-direction: column;
    padding: 0px 200px 0px 200px;
}

.inlog-item {
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin:10px;
}

.grid_registreren {
    display: grid;
    grid-template-columns: 1fr 990px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    grid-template-areas:
        ". i1 ."
}

.registreren-form {
    grid-area: i1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 50px 200px;
}

.container-item {
    display: flex;
}

.reg-item {
    height: 50px;
    font-size: 18px;
    padding: 10px;
    margin:10px;
    flex: 15;
}

.checkmark.icon {
    display: none;
}
.cross.icon {
    display: none;
}
.icon {
    flex: 1;
    text-align: center;
    padding: 15px;
    transition: color 0.5s;
}


.checkmark.active {
    color: green;
    display: block;
}

.cross.active {
    color: red;
    display: block
}

@media screen and (min-width: 1000px) {

    .picture_header {
        background: url(img/15578438_258663144551980_443141190466654411_n.jpg) center;
        height: 300px;
    }

    nav ul {
        display: flex;
        width: 990px;

    }

    .grid_home {
        display: grid;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr;
        grid-template-areas:
            ". h1 h2 ."
            ". h3 h4 ."
    }

    .grid_portfolio {
        display: grid;
        min-height: 300px;
        grid-template-columns: 14% 24% 24% 24% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". p1 p2 p3 ."
    }

    .grid_naamplaat {
        display: grid;
        min-height: 300px;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". n2 n3 ."
    }
    .archief {
        display: grid;
        grid-template-columns: 14% 36% 36% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". n0 n1 ."
    }
    .nieuwsbewerkengrid{
        display: grid;
        grid-template-columns: 14% 72% 14%;
        grid-template-row: 1fr 1fr 1fr ;
        grid-template-areas:
            ". nb0 ."
    }
}

.contacttext h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.contacttext textarea {
    resize: none;
}
.formulieren .error {
    color: red;
}
.contacttext {
    border-top: 30px solid;
    border-bottom: 80px solid;
    border-color: #8396A8;
    padding: 0;
    border-left: 150px solid;
    color: #8396A8;
    font-size: 12px;
    font-family: 'Arial';
    background-color: #8396A8;
    display:grid;
    grid-template-columns: 35% 30% 30%;

}
.formulieren input {
    width: 180px;
}
.formulieren input, textarea {
    margin-top: 12px;
}
.formulieren label{
    text-align: right;
    padding-right: 12px;
    margin-top: 12px;
    float: left;
    width: 150px;
    clear: left;

}
.formulieren .theSubmit {
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.adresgegevens {
    margin-top: 12px;
    color: #FFF;
}
.adresgegevens li {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FFF;

}
#adrescontact {
    list-style-type: none;
    margin-left: 210px;
    margin-top: 30px;
    text-align: left;
}
.formulieren {
    /*text-align: center;*/
    font-family: 'Arial';
    font-size: 12px;
    color: #FFF;
}
.boxes {
    margin-top: 50px;
}


#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;
}
.bedrijf_text {
    flex: 1;
    padding: 50px;
    min-height: 409px;
}
.bedrijf_img {
    flex: 1;
    background: url(img/image001.jpg) center;
}
.grid_bedrijf {

    .grid_bedrijf {

        font-size: 12px;
        font-family: 'Arial';
        display: grid;
        grid-template-columns:1fr  2fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        justify-items: stretch;
        align-items: strecht;
        grid-gap:3em;
        padding: 5em;

    }
    .grid_bedrijf h2 {
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .grid_bedrijf p {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
    }
    .fotob1 {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .b1, .b2, .b3, .b4 {
        background: #708090;
    }

    .b1 {
        grid-column:1;
        grid-row:1/2;
    }
    .b2 {
        grid-column:2/5;
        grid-row:1/2
    }

    .b3 {
        grid-column:1/3;
        grid-row:2/4;
    }
    .b4 {
        grid-column:3;
        grid-row:2/4;

    }
    .grid_bedrijf h2 {
        display: inline-block;
        text-align: center;
        margin: 0;
    }
    .grid_bedrijf p {
        display: inline-block;
        margin-top: 15px;
        padding: 10px;
        text-align: center;
    }
    .fotob1 {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    .b1, .b2, .b3, .b4 {
        background: #708090;
    }

    .b1 {
        grid-column:1;
        grid-row:1/2;
    }
    .b2 {
        grid-column:2/5;
        grid-row:1/2
    }

    .b3 {
        grid-column:1/3;
        grid-row:2/4;
    }
    .b4 {
        grid-column:3;
        grid-row:2/4;
    }

}

.error2 {
    display: none;
}

.error2.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}

.error3 {
    display: none;
}

.error3.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}
.grid_contact {
    text-align: center;
    display: grid;
    grid-template-columns: 14% 72% 14%;
    grid-template-areas:
        ". c1 ."
        ". c2 ."
}
.formulier {
    grid-row: 1;
    grid-area: c1;
    margin: 0;
    min-height: 400px;
    min-width: 150px;
}
.simpleform ul, li{
    list-style: none;
}
.simpleform input, textarea {
    display:block;
    margin: 0 auto;
    resize: none;
    width: 200px;
}
.thesubmit {
    justify-content: center;
    text-align: center;
}
.simpleform label {
    display: block;

}


.grid_contact h3 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}
.gegevens {
    grid-row: 2;
    grid-area: c2;
    min-height: 200px;
    min-width: 150px;
}
#map {
    border: 1px solid black;
    height: 300px;
    width: 100%;
}


.error4 {
    display: none;
}

.error4.active {
    display: block;
    color: red;
    margin: 0px 10px 0px 10px;
    font-family: 'Arial';
    font-size: 11px;
    text-align: right;
}
